<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ski Resorts</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!-- <a class="nav-link" href="index.html">Ski Resorts</a> -->
                    <a class="nav-link" href="/">Ski Resorts</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/metadata">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Ski Resorts</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="article">
                    <h2>Choosing a Ski Resort</h2>
                    <p>There are several factors that may be important to a given person when choosing the ultimate ski resort destination. Some factors include slope offerings (variety), total skiing distance, price, and location. This interactive dashboard
                        allows you to compare various ski resorts located in North America. </p>

                    <p>The map provides the location and the size of the resorts. The interactive scatter plots allow you to explore the relationship between various factors. Additionally, we’ve compiled a comparison of the top twenty resorts (in terms of
                        total skiing distance) and slope offering variety (easy, intermediate and difficult slopes).</p>
                </div>
            </div>
            <div class="col-xs-12  col-md-7">
                <div id="map">
                    <!-- We append our map here. -->
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12  col-md-6">
                <div id="scatter">
                    <!-- <script src="../static/js/plotly_Rui.js"> -->
                    <!-- We append a plot here -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_Rui.js') }}"></script>
                    <!-- <p>checking placement</p> -->
                </div>
                <button id="toggle_1">NEXT PLOT</button>
            </div>
            <div class="col-xs-12  col-md-6">
                <div id="bar">
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_Rui.js') }}"></script>
                    <!-- We append a second plot here -->
                    <!-- <p>checking placement</p> -->
                </div>
                <button id="toggle_2">NEXT CHART</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12  col-md-8">
                <h4>Slope Variety for Top 20 Resorts</h4>
                <h5>(Most Skiing Distrance Offered)</h5>
                <div id="chord">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Footer-->
    <div id="footer" class="bg-dark">
        <p>Group Project: Bill Nash, Scott Stevener, Erica Unterreiner, Rui Wang</p>
    </div>

    <!-- D3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>


    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>

    <!-- static file references -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logicRS.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chord.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_Rui.js') }}"></script> -->

</body>